Importar librerias

In [28]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [41]:
# Cargar el archivo CSV
df = pd.read_csv('datos_apartamentos_rent_practicamod.csv', encoding='ISO-8859-1', on_bad_lines='skip', delimiter=';')

# Ver las primeras filas del DataFrame
df.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,...,$790,Monthly,101,NaN,Washington,DC,38.9057,-76.9861,RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,...,$425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,...,"$1,390",Monthly,107,NaN,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,...,$925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,...,$880,Monthly,125,NaN,Arlington,VA,38.8738,-77.1055,RentLingo,1577359401

In [42]:
Variables_importantes=["bedrooms", "bathrooms", "square_feet", "state","price"]

df = df[Variables_importantes]

nan_counts = df.isna().sum()

print(nan_counts)

#Quitar nans
df = df.dropna()

bedrooms        7
bathrooms      34
square_feet     0
state          77
price           0
dtype: int64

In [48]:
Variable_interes=["price"]

y=df[Variable_interes]

Variables_influyentes=["bedrooms", "bathrooms", "square_feet", "state"]

x=df[Variables_influyentes]

#Generar dummies
x = pd.get_dummies(x, drop_first=True).astype(float)

x.head()

,bedrooms,bathrooms,square_feet,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
2,0.0,1.0,107.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,116.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,0.0,1.0,130.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,1.0,138.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,1.0,190.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

AnÃ¡lisis EstadÃ­stico

In [54]:
x = sm.add_constant(x)
x

,const,bedrooms,bathrooms,square_feet,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
2,1.0,0.0,1.0,107.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,1.0,116.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,1.0,0.0,1.0,130.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,0.0,1.0,138.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1.0,0.0,1.0,190.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1.0,6.0,4.0,5921.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9995,1.0,5.0,4.0,6300.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,1.0,6.0,8.0,8716.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,1.0,6.0,8.5,11318.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,1.0,1.0,1.0,880.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
An = sm.OLS(y, x)  # Crea el modelo
results = An.fit()

In [51]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.461
Model:                            OLS   Adj. R-squared:                  0.459
Method:                 Least Squares   F-statistic:                     158.9
Date:                Fri, 21 Feb 2025   Prob (F-statistic):               0.00
Time:                        18:19:16   Log-Likelihood:                -79982.
No. Observations:                9883   AIC:                         1.601e+05
Df Residuals:                    9829   BIC:                         1.605e+05
Df Model:                          53
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const         248.2989    120.851      2.055      0.040      11.407     485.191
bedrooms      -78.9834     13.419     -5.886      0.000    -105.288     -52.679
bathrooms     209.4654     22.876      9.156      0.000     164.623     254.307
square_feet     0.8825      0.028     31.768      0.000       0.828       0.937
state_AL     -195.2264    160.180     -1.219      0.223    -509.212     118.760
state_AR     -484.2605    160.093     -3.025      0.002    -798.077    -170.444
state_AZ      -40.4087    139.468     -0.290      0.772    -313.795     232.978
state_CA     1546.9250    122.504     12.628      0.000    1306.792    1787.058
state_CO      225.0285    127.723      1.762      0.078     -25.335     475.392
state_CT      203.1130    144.054      1.410      0.159     -79.263     485.489
state_DC     1195.2242    151.529      7.888      0.000     898.196    1492.252
state_DE      -55.3339    374.614     -0.148      0.883    -789.654     678.986
state_FL      180.2257    127.326      1.415      0.157     -69.360     429.812
state_GA     -141.2500    126.697     -1.115      0.265    -389.601     107.102
state_HI     1969.8674    258.780      7.612      0.000    1462.605    2477.130
state_IA     -237.6783    133.577     -1.779      0.075    -499.517      24.161
state_ID       19.9994    210.627      0.095      0.924    -392.873     432.872
state_IL      347.0471    128.726      2.696      0.007      94.719     599.376
state_IN     -103.4437    130.333     -0.794      0.427    -358.924     152.036
state_KS     -281.4833    148.092     -1.901      0.057    -571.775       8.808
state_KY     -172.9700    173.417     -0.997      0.319    -512.903     166.963
state_LA     -291.0126    154.559     -1.883      0.060    -593.980      11.955
state_MA     1160.4578    134.640      8.619      0.000     896.536    1424.380
state_MD      339.6622    125.841      2.699      0.007      92.988     586.336
state_ME      527.4191    573.913      0.919      0.358    -597.569    1652.407
state_MI       45.2847    133.842      0.338      0.735    -217.073     307.642
state_MN      249.5805    131.092      1.904      0.057      -7.386     506.547
state_MO     -153.9861    130.284     -1.182      0.237    -409.370     101.398
state_MS     -454.8247    290.569     -1.565      0.118   -1024.400     114.751
state_MT      -13.4202    323.342     -0.042      0.967    -647.237     620.397
state_NC     -227.1059    125.702     -1.807      0.071    -473.508      19.296
state_ND     -344.1904    141.292     -2.436      0.015    -621.152     -67.229
state_NE     -192.1088    142.606     -1.347      0.178    -471.646      87.428
state_NH      293.7987    152.758      1.923      0.054      -5.638     593.236
state_NJ      749.2821    126.431      5.926      0.000     501.451     997.113
state_NM      -38.0551    243.577     -0.156      0.876    -515.515     439.405
state_NV      -91.0103    139.920     -0.650      0.515    -365.282     183.262
state_NY      499.6923    153.630      3.253      0.001     198.546     800.839
state_OH     -156.5988    127.686     -1.226      0.220    -406.890      93.692
state_OK     -286.6569    133.739     -2.143      0.032    -548.812     -24.502
state_OR      304.7422    132.415      2.301      0.021      45.181     564.303
state_PA      130.0553    133.372      0.975      0.330    -131.381     391.492
state_RI      786.0717    267.613      2.937      0.003     261.496    1310.648
state_SC     -370.4105    150.406     -2.463      0.014    -665.238     -75.583
state_SD     -351.7860    154.561     -2.276      0.023    -654.758     -48.814
state_TN       42.9960    145.828      0.295      0.768    -242.858     328.850
state_TX       40.9864    121.213      0.338      0.735    -196.616     278.589
state_UT     -117.8072    147.871     -0.797      0.426    -407.665     172.051
state_VA      176.8307    132.006      1.340      0.180     -81.927     435.589
state_VT      189.7970    231.839      0.819      0.413    -264.655     644.249
state_WA      568.3541    124.673      4.559      0.000     323.970     812.739
state_WI      118.8040    128.189      0.927      0.354    -132.474     370.081
state_WV     -688.5713    473.815     -1.453      0.146   -1617.345     240.203
state_WY     -772.7861    802.764     -0.963      0.336   -2346.369     800.797
==============================================================================
Omnibus:                    24736.024   Durbin-Watson:                   1.888
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        981965579.187
Skew:                          26.825   Prob(JB):                         0.00
Kurtosis:                    1546.288   Cond. No.                     1.22e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.22e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [62]:
results.params.tolist()

[248.29891735974667,
 -78.98344630210772,
 209.46536083702827,
 0.8825307777435925,
 -195.22635189947442,
 -484.26054533379045,
 -40.40867327039201,
 1546.924976370451,
 225.02850727425817,
 203.1129667758887,
 1195.2241557775922,
 -55.33391872525429,
 180.22573869305967,
 -141.24998703215317,
 1969.8674280488142,
 -237.6783076014701,
 19.99944829200762,
 347.0471495416595,
 -103.44371638242458,
 -281.4833425125497,
 -172.97004610668597,
 -291.0126395450638,
 1160.4577847447147,
 339.66221545250835,
 527.4191496395304,
 45.28465967908373,
 249.58049349279702,
 -153.9860534182397,
 -454.8246975307296,
 -13.420176407136154,
 -227.1058973365087,
 -344.190437300218,
 -192.10878612885008,
 293.798748693859,
 749.2821035159967,
 -38.05507139907385,
 -91.01026589371938,
 499.69234644166494,
 -156.5987920501847,
 -286.65685818512276,
 304.7421898767573,
 130.05534681175715,
 786.0716755525259,
 -370.41053526071147,
 -351.78599221733737,
 42.99598291147853,
 40.9863558157367,
 -117.80721165449631,
 176.8307426094029,
 189.7970364245301,
 568.3541462453691,
 118.80396049518168,
 -688.571253451966,
 -772.7861103084753]

In [64]:
# disntacia de Cook
resultados_cooksd = results.get_influence().cooks_distance[0]

# get length of df to obtain n
n = x.shape[0]

# umbral
critical_d = 4/n
print('Umbral con distancia de Cook:', critical_d)

# puntos que podrÃ­an ser ourliers con alta influencia
out_d = resultados_cooksd > critical_d

print(x.index[out_d], "\n", resultados_cooksd[out_d])

Umbral con distancia de Cook: 0.000404735404229485
Index([   5,   25,  127,  226,  367,  388,  524,  812,  850,  869,
       ...
       9983, 9987, 9988, 9989, 9990, 9991, 9992, 9994, 9996, 9997],
      dtype='int64', length=186)
 [0.00091348 0.00146623 0.00040949 0.00160945 0.00143341 0.00046856
 0.00132616 0.00073979 0.00281822 0.00112084 0.00309624 0.00048827
 0.00354525 0.0008057  0.00945978 0.00047826 0.00067478 0.00064917
 0.00059768 0.00065492 0.00061613 0.0005943  0.00065078 0.00071062
 0.00338142 0.00082297 0.00317935 0.0005943  0.00233265 0.00049766
 0.00144688 0.00060046 0.00054271 0.00209866 0.00041251 0.0020978
 0.00085122 0.00042279 0.00230171 0.00055485 0.00209451 0.00052205
 0.00059938 0.00158941 0.00055356 0.00045717 0.00072949 0.00067343
 0.0005604  0.00356883 0.0004463  0.00066352 0.00069888 0.00047423
 0.00073051 0.00104288 0.00070876 0.0004769  0.00045308 0.00090869
 0.00042182 0.00047295 0.00049758 0.00053333 0.00047507 0.00079792
 0.0021425  0.00044608 0.00095363 0.00046227 0.00153573 0.0016018
 0.00168583 0.00205857 0.00359379 0.00072667 0.00325594 0.00045298
 0.00317935 0.19207004 0.00125116 0.00106828 0.00068229 0.00092366
 0.00232185 0.00047058 0.00088719 0.00080371 0.00092678 0.00063717
 0.00081785 0.00044915 0.00476566 0.00193741 0.00182956 0.00080579
 0.00087274 0.00118485 0.00092842 0.00053545 0.00042485 0.00078369
 0.0005274  0.00186563 0.0006195  0.0004623  0.01427767 0.00093954
 0.00057273 0.00096992 0.00064462 0.00085427 0.0067737  0.00048048
 0.00206273 0.00118353 0.07148607 0.00173345 0.00084847 0.00107153
 0.00118211 0.00264296 0.00092185 0.00091329 0.00089807 0.00061802
 0.00081069 0.00157224 0.00410653 0.00049375 0.00059431 0.00433147
 0.00055516 0.00214032 0.00469942 0.03726344 0.00061493 0.0004353
 0.00044207 0.00048981 0.00056046 0.00174916 0.00137013 0.00043149
 0.0005377  0.03589388 0.00110019 0.0008667  0.00146729 0.00056023
 0.0004324  0.00139506 0.00044809 0.00091747 0.0004671  0.01394664
 0.0006816  0.02001058 0.00138898 0.00054408 0.00050728 0.00043709
 0.0014842  0.00073837 0.00093181 0.00065421 0.00071456 0.00068332
 0.01197191 0.00053616 0.00181661 0.0068301  0.00120833 0.00213961
 0.00063537 0.0011708  0.00449818 0.00846786 0.00367604 0.00053669
 0.04555379 0.00121523 0.00107508 0.00541279 0.21196855 0.00173364]

c:\Users\danan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\stats\outliers_influence.py:847: RuntimeWarning: invalid value encountered in sqrt
  return self.resid / sigma / np.sqrt(1 - hii)

Espacio para eliminar posibles outliers influyentes

Dividir datos entre prueba y entrenamiento

In [65]:
# Dividir los datos en conjuntos de entrenamiento y prueba (80% entrenamiento, 20% prueba)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=11)

RegresiÃ³n Lineal

In [66]:
# Crear el modelo
model = LinearRegression()

# Entrenar el modelo
model.fit(X_train, y_train)

# Predecir con el conjunto de prueba
y_pred = model.predict(X_test)

In [67]:
# imprimir coeficientes
print(model.intercept_)
print(model.coef_)
# coeficientes con nombre de las caracterÃ­sticas
list(zip(Variables_influyentes, model.coef_))

[219.45735865]
[[ 1.09910684e-11 -9.97089839e+01  2.10480297e+02  9.23132446e-01
  -1.03548955e+02 -4.84169749e+02 -1.76435380e+01  1.57944259e+03
   2.38507559e+02  2.35744332e+02  1.18744604e+03 -8.01874258e+00
   1.78196631e+02 -1.27828475e+02  1.60724735e+03 -2.11321055e+02
   2.76473681e+01  3.92202934e+02 -8.99291571e+01 -2.68100756e+02
  -1.29507170e+02 -2.65200786e+02  1.19589178e+03  3.61671602e+02
   5.42677161e+02  3.74426935e+01  2.72663249e+02 -1.17440335e+02
  -3.90846825e+02 -1.75994330e+02 -1.98858848e+02 -3.17147823e+02
  -1.66732154e+02  3.24158354e+02  7.26544043e+02 -9.04090064e-01
  -5.55518984e+01  3.73421965e+02 -1.37653208e+02 -2.92053095e+02
   3.11077344e+02  1.59113919e+02  1.07589498e+03 -3.28951945e+02
  -3.10289269e+02  4.50171104e+01  7.08915770e+01 -7.82700962e+01
   2.18122648e+02  2.05239173e+02  5.80444200e+02  1.29045669e+02
  -7.37433528e+02  0.00000000e+00]]

[('bedrooms',
  array([ 1.09910684e-11, -9.97089839e+01,  2.10480297e+02,  9.23132446e-01,
         -1.03548955e+02, -4.84169749e+02, -1.76435380e+01,  1.57944259e+03,
          2.38507559e+02,  2.35744332e+02,  1.18744604e+03, -8.01874258e+00,
          1.78196631e+02, -1.27828475e+02,  1.60724735e+03, -2.11321055e+02,
          2.76473681e+01,  3.92202934e+02, -8.99291571e+01, -2.68100756e+02,
         -1.29507170e+02, -2.65200786e+02,  1.19589178e+03,  3.61671602e+02,
          5.42677161e+02,  3.74426935e+01,  2.72663249e+02, -1.17440335e+02,
         -3.90846825e+02, -1.75994330e+02, -1.98858848e+02, -3.17147823e+02,
         -1.66732154e+02,  3.24158354e+02,  7.26544043e+02, -9.04090064e-01,
         -5.55518984e+01,  3.73421965e+02, -1.37653208e+02, -2.92053095e+02,
          3.11077344e+02,  1.59113919e+02,  1.07589498e+03, -3.28951945e+02,
         -3.10289269e+02,  4.50171104e+01,  7.08915770e+01, -7.82700962e+01,
          2.18122648e+02,  2.05239173e+02,  5.80444200e+02,  1.29045669e+02,
         -7.37433528e+02,  0.00000000e+00]))]

Ver el error

In [68]:
# Calcular el Error CuadrÃ¡tico Medio (MSE)
mse = mean_squared_error(y_test, y_pred)
print(f'Error CuadrÃ¡tico Medio (MSE): {mse}')

# Calcular el Coeficiente de DeterminaciÃ³n (RÂ²)
r2 = r2_score(y_test, y_pred)
print(f'Coeficiente de DeterminaciÃ³n (RÂ²): {r2}')

Error CuadrÃ¡tico Medio (MSE): 372983.81454401696
Coeficiente de DeterminaciÃ³n (RÂ²): 0.5662286329943813

ValidaciÃ³n cruzada

In [74]:
from sklearn.model_selection import cross_val_score

# usar MSE - error cuadrÃ¡tico medio
scores = cross_val_score(model, x, y, cv=5, scoring='neg_mean_squared_error')
mse_scores = - scores
print(mse_scores)
rmse_scores = np.sqrt(mse_scores)
print(rmse_scores)

[ 205687.72859082  173499.13495602  197607.14477554  294958.73071364
 2472835.0260661 ]
[ 453.52809019  416.53227361  444.53025181  543.10103177 1572.52504783]

Otros modelos

In [69]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet

# Modelo Ridge
ridge_model = Ridge(alpha=1.0)
ridge_model.fit(X_train, y_train)
y_pred_ridge = ridge_model.predict(X_test)
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
r2_ridge = r2_score(y_test, y_pred_ridge)

# Modelo Lasso
lasso_model = Lasso(alpha=1.0)
lasso_model.fit(X_train, y_train)
y_pred_lasso = lasso_model.predict(X_test)
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
r2_lasso = r2_score(y_test, y_pred_lasso)

# Modelo ElasticNet
elastic_model = ElasticNet(alpha=1.0, l1_ratio=0.5)
elastic_model.fit(X_train, y_train)
y_pred_elastic = elastic_model.predict(X_test)
mse_elastic = mean_squared_error(y_test, y_pred_elastic)
r2_elastic = r2_score(y_test, y_pred_elastic)

# Comparar los resultados
print(f'Ridge - MSE: {mse_ridge}, RÂ²: {r2_ridge}')
print(f'Lasso - MSE: {mse_lasso}, RÂ²: {r2_lasso}')
print(f'ElasticNet - MSE: {mse_elastic}, RÂ²: {r2_elastic}')

Ridge - MSE: 373420.3360384502, RÂ²: 0.5657209688063277
Lasso - MSE: 381656.09967519325, RÂ²: 0.556142970212977
ElasticNet - MSE: 594803.267179662, RÂ²: 0.30825784861642613

Random Forest

In [71]:
from sklearn.ensemble import RandomForestRegressor

# Crear el modelo de Random Forest
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)  # 100 Ã¡rboles

# Entrenar el modelo
rf_model.fit(X_train, y_train)

# Predecir con el conjunto de prueba
y_pred_rf = rf_model.predict(X_test)

# Calcular el Error CuadrÃ¡tico Medio (MSE)
mse_rf = mean_squared_error(y_test, y_pred_rf)
print(f'Random Forest - Error CuadrÃ¡tico Medio (MSE): {mse_rf}')

# Calcular el Coeficiente de DeterminaciÃ³n (RÂ²)
r2_rf = r2_score(y_test, y_pred_rf)
print(f'Random Forest - Coeficiente de DeterminaciÃ³n (RÂ²): {r2_rf}')

c:\Users\danan\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest - Error CuadrÃ¡tico Medio (MSE): 390774.4472821306
Random Forest - Coeficiente de DeterminaciÃ³n (RÂ²): 0.5455385473075781